body {
  padding: 20px;
  margin: 0;
}
html {
  background: #ffffff;
}
.tituloMensaje {
  /*align-content: center;
  margin-bottom: 5%;
  */
}

.areaTexto {
  width: 500%;
  height: 500px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  /*background-color: #f8f8f8;*/
  font-size: 16px;
  resize: none;
}
