body {
  padding: 20px;
  margin: 0;
}
html {
  background: #ffffff;
}
.tituloMensaje {
  /*align-content: center;
  margin-bottom: 5%;
  */
}

.areaTexto {
  width: 350px;
  height: 105px;
  padding: 100%;
  padding-right: 175%;
  border: black;
}
